@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$primary-color: #eaeaea;
$secondary-color: #212121;
$background-gradient: radial-gradient(
  circle,
  rgba(77, 168, 159, 1) 15%,
  rgba(33, 81, 115, 1) 76%
);
$link-color: #28068f;
$link-hover-color: #f60707;

$heading-font: "Playfair Display", serif;
$text-font: "Figtree", sans-serif;
