@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rammetto+One&display=swap");

$primary-color: #fdede6;
$secondary-color: #215273;
$warning-color: #d3de17;
$danger-color: #ff7b17;

$heading-font: "Rammetto One", sans-serif;
$text-font: "Open Sans", sans-serif;
