@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$primary-color: #eaeaea;
$secondary-color: #212121;
$background-gradient: radial-gradient(
  circle,
  rgba(77, 168, 159, 1) 15%,
  #215173 76%
);
$link-hover-color: #000ed1;
$link-color: #f60707;

$text-shadow: -3px 3px 3px rgba(223, 223, 223, 0.5);
$box-shadow: -3px 10px 45px -7px rgba(24, 24, 24, 0.68);

$heading-font: "Playfair Display", serif;
$text-font: "Figtree", sans-serif;
