@use "../../sass/variables" as v;

.form {
  display: flex;
  padding: 0.25rem;
  gap: 0.5em;
  font-weight: 700;

  * {
    border: 0.1em solid transparent;
  }

  input {
    padding: 0.25rem;
    background-color: #fefefe;
    border-radius: 0.2rem;
  }
  button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.2rem;
    background-color: #404040;
    text-transform: uppercase;
    font-size: 0.8em;
    color: v.$primary-color;
    cursor: pointer;
  }
}
