.books {
  border: 3px solid #fcfcfc;
}
.placeholder_image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  img {
    margin: 0 auto;
    width: 100%;
    border-radius: 0.35em;
    border: 5px solid transparent;
  }
}
