@use "../../sass/variables" as v;

.heading {
  font-family: v.$heading-font;
}
.h1 {
  font-size: 1.5rem;
  text-align: center;
  color: v.$primary-color;
}
.h2 {
  font-size: 0.75rem;
  text-transform: capitalize;
}
.para {
  font-size: 0.55rem;
}

@media (min-width: 577px) {
  .h1 {
    font-size: 2rem;
  }
  .h2 {
    font-size: 1rem;
  }
  .para {
    font-size: 0.75rem;
  }
}
@media (min-width: 769px) {
  .h1 {
    font-size: 2.25rem;
  }
  .h2 {
    font-size: 1.25rem;
  }
  .para {
    font-size: 1rem;
  }
}
