@use "../../sass/variables" as v;

.flexbox {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.heading {
  font-family: v.$heading-font;
}
.h1 {
  font-size: 1.5rem;
  text-align: center;
  color: v.$primary-color;
}
.h2 {
  font-size: 0.65rem;
  text-transform: capitalize;
}
.para {
  font-size: 0.55rem;
}

@media (min-width: 577px) {
  .h1 {
    font-size: 1.75rem;
  }
  .h2 {
    font-size: 0.75rem;
  }
  .para {
    font-size: 0.65rem;
  }
}
@media (min-width: 769px) {
  .h2 {
    font-size: 0.85rem;
  }
  .para {
    font-size: 0.75rem;
  }
}
