@use "../../sass/variables" as v;

.flexbox {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.heading {
  font-family: v.$heading-font;
}
.h1 {
  font-size: 1.5rem;
  text-align: center;
  color: v.$primary-color;
}
.h2 {
  font-size: 0.65rem;
  text-transform: capitalize;
}
.para {
  font-size: 0.55rem;
}

// .primary {
//   color: v.$primary-color;
// }
// .secondary {
//   color: v.$secondary-color;
// }
// .link-hover-color {
//   color: v.$link-hover-color;
// }
// .link-color {
//   color: v.$link-color;
// }
