.card {
  padding: 1em;
  width: 15rem;
  height: auto;
  border: 3px solid blue;

  .truncated {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
  }
}
