@use "../../sass/variables" as v;
@import "../../sass/mixins";

.card {
  padding: 1rem;
  height: auto;
  background-color: rgba(36, 36, 36, 0.5);
  box-shadow: -3px 10px 45px -7px rgba(24, 24, 24, 0.68);
  border-radius: 0.5em;
  font-size: 0.6em;

  .bookcard {
    @include flex(row, flex-start, flex-start);
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  .heading {
    padding: 0.5em;
    border-radius: 0.25em;
    text-shadow: v.$text-shadow;
  }
  .faded {
    opacity: 0.7;
    text-transform: capitalize;
  }

  .truncated {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
  }
  .info_box {
    @include flex(column, space-around, flex-start);
  }
  .book_image {
    width: 2rem;
  }
  .authors {
    text-shadow: -5px 5px 5px rgba(40, 40, 40, 0.5);
  }
}
.card:hover {
  top: 0;
  transform: scale(1.2);
  background-color: rgba(36, 36, 36, 0.75);
}
