@use "../../sass/variables" as v;

.footer {
  margin: 1rem 0;
  height: 5vh;
  font-size: 0.75rem;
  color: v.$primary-color;
  opacity: 0.75;

  .icon {
    font-size: 0.8rem;
    opacity: 1;
  }
}
