@use "./sass/variables" as v;

a {
  text-decoration: none;
  color: #2e2e2e;
  &:hover {
    text-decoration: none;
    color: orangered;
  }
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$secondary-color;
  color: v.$primary-color;
}
// .app {
//   width: 100vw;
//   height: auto;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;
//   // text-align: center;
//   font-size: 10px;
// }
