.app {
  padding: 1rem;
  width: 100vw;
  height: auto;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
}
a {
  text-decoration: none;
  :visited {
    text-decoration: none;
  }
}
