@use "./sass/variables" as v;
@import "./sass/mixins.scss";

a {
  text-decoration: none;
  color: v.$link-color;
  :hover {
    text-decoration: none;
    color: v.$link-hover-color;
    transform: scale(1.05);
  }
}
.app > * {
  margin-top: 0.75rem;
}
.app {
  @include flex();
  min-width: 100vw;
  min-height: 100vh;
  font-family: v.$text-font;
  background: v.$background-gradient;
  color: v.$primary-color;
}
