@use "./sass/variables" as v;

a {
  text-decoration: none;
  color: v.$link-color;
  :hover {
    text-decoration: none;
    color: white;
    transform: scale(1.2);
  }
}
.app > * {
  margin-top: 0.75rem;
}
.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: v.$text-font;
  background: v.$background-gradient;
  color: v.$primary-color;
}
