@use "./sass/variables" as v;

a {
  text-decoration: none;
  color: #2e2e2e;
  &:hover {
    text-decoration: none;
    color: orangered;
  }
}
.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$secondary-color;
  color: v.$primary-color;
}
// background-color: #242424;
